<%= form_with model: post,url: path,local: true do |f| %>
  <%= render "public/shared/error_messages", resource: post %>
  <div class= "row">
    <div class= "col-md-12 my-3">
      <label for="Title">タイトル</label><br>
      <%= f.text_field :title, autofocus: true, id:"Title", placeholder:"タイトル"%><br />
    </div>
    <div class= "col-md-12 mb-3">
      <label for="Post_images">画像</label><br>
      <%= f.file_field :post_images, multiple: true, id:"Post_images" %><br />
    </div>
    <div class= "col-md-12 mb-3">
      <% if post.post_images.attached? %>
        <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
        <div style="display: flex; flex-wrap: wrap; width: 750px;">
        <% post.post_images.each do |image| %>
          <div style="display: flex; margin:5px 5px 5px 0;">
            <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
            <label for="post_image_ids_<%= image.id %>" >
              <%= image_tag image, size: '300x200' %>
            </label>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class= "col-md-12 mb-3">
      <label for="Content">内容</label><br>
      <%= f.text_area :content, rows: '5', cols: '80', autofocus: true, id:"Content", placeholder:"内容をここに" %>
    </div>
    <div class= "col-md-3">
      <label for="Language">言語</label><br>
      <%= f.text_field :language, autofocus: true, id:"Language", placeholder:"例: 日本語" %>
    </div>
    <div class="form-group form-group_tags col-md-9">
      <%= f.label :tag_list, "Tag", class: "form-label" %>
      <%= f.text_field :tag_list, value: post.tag_list.join(","), class: "form-control", data: { role: "tagsinput" } %>
    </div>
    <div class="toggle_switch mx-3">
      <input type="checkbox" id="postTypeToggle" class="toggle_input">
      <label for="postTypeToggle" class="toggle_label"></label>
    </div>
    <div class="btn-group" role="group" id="buttonGroup">
      <% if post.persisted? %> <!--DBに既存の投稿がある場合-->
        <% if post.draft? %> <!--下書きの投稿かどうか-->
          <%= f.submit '更新する', id: 'updateButton', name: 'draft', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'publicButton', name: 'public', class: "submit-btn" %>
        <% elsif post.private? %> <!--非公開かどうか-->
          <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'publicButton', name: 'public', class: "submit-btn" %>
        <% else %>
          <%= f.submit '非公開にする', id: 'privateButton', name: 'private', class: "private-btn" %>
          <%= f.submit '公開する', id: 'publicButton', name: 'public', class: "submit-btn" %>
        <% end %>
      <% else %>
          <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'publicButton', name: 'public', class: "submit-btn" %>
      <% end %>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      const status = '<%= post.public_flag %>'
      const isNewRecord = '<%= post.new_record? %>' //new_record?既存レコードがないか判別persisted?と逆

      // ボタンの要素を生成
      var draftButton = $('<%= f.submit "下書き保存", id: "draftButton", name: "draft", class: "draft-btn btn-info" %>');
      var publicButton = $('<%= f.submit "公開する", id: "publicButton", name: "public", class: "submit-btn btn-primary" %>');
      var updateButton = $('<%= f.submit "更新する", id: "updateButton", name: "draft", class: "submit-btn btn-success" %>');
      var privateButton = $('<%= f.submit "非公開にする", id: "privateButton", name: "private", class: "submit-btn btn-danger" %>');

      // トグルスイッチの変更イベント
      $('#postTypeToggle').change(function() {
        var isChecked = $(this).is(':checked');
        var buttonGroup = $('#buttonGroup');

        buttonGroup.empty(); // 既存のボタンを削除

        // トグルがオンかオフかによって適切なボタンを切り替え
        if (isNewRecord === "true") {
          if (isChecked) {
            buttonGroup.append(publicButton); // on
          } else {
            buttonGroup.append(draftButton); // off
          }
        } else {
          if (status === "public") {
            if (isChecked) {
              buttonGroup.append(privateButton); // on
            } else {
              buttonGroup.append(publicButton); // off
            }
          }
          if (status === "draft") {
            if (isChecked) {
              buttonGroup.append(publicButton); // on
            } else {
              buttonGroup.append(updateButton); // off
            }
          }
          if (status === "private") {
            if (isChecked) {
              buttonGroup.append(publicButton); // on
            } else {
              buttonGroup.append(privateButton); // off
            }
          }
        }
      });

      // 初期設定：トグルの状態に応じたボタンを表示
      $('#postTypeToggle').change();
    });
  </script>
<% end %>