<table class= "table table-hover mt-3">
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
      <th>ユーザー名</th>
      <th>作成日</th>
      <th></th>
      <th></th>
      <th>タグ名</th>
    </tr>
  </thead>
  <tbody>
    <% posts.each  do |post| %>
      <tr data-href= "<%= post_path(post.id) %>"> <!--trタグそのものを遷移先へ-->
        <td><%= post.title %></td>
      <% if post.post_images.attached? %>
        <td><%= image_tag post.post_images[0].variant(resize: '50x50') %></td>
      <% else %>
        <td><%= image_tag post.get_post_images ,size: "50x50" %></td>
      <% end %>
        <td>
          <%= link_to member_path(post.member.id) do %>
            <%= post.member.nick_name %>
          <% end %>
        </td>
        <td><%= post.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
        <td id= "favorite_btn_<%= post.id %>">
          <%= render "public/favorites/favorite", post: post %>
        </td>
        <td id="comment_counter"><%= render "public/comments/counter", post: post %></td>
        <td>
          <% post.tag_list.first(2).each do |tag| %>
            <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(function(){
  $('tr[data-href]').on('click', function(){
    location.href = $(this).data('href');
    });
  });
</script>