<div class= "container">
  <div class= "row">
    <div class= "col-md-10 offset-md-1">
      <h2>会員詳細 <%= image_tag @member.get_profile_image %></h2>
        <%= form_with model: @member, url: admin_member_path do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="width: 30%">氏名</td>
              <td style="width: 35%"><%= f.text_field :last_name %></td>
              <td style="width: 35%"><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td style="width: 10px">居住地</td>
              <td><%= f.text_field :residence %></td>
            </tr>
            </tr>
            <tr>
              <td>退会ステータス</td>
              <td>
                <%= f.radio_button :is_deleted, "false" %>
                <%= f.label :is_deleted_false, "有効", class:"mr-3"%>
                <%= f.radio_button :is_deleted, "true" %>
                <%= f.label :is_deleted_true, "退会" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "変更を保存", class:"btn btn-success btn-lg px-5" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
