<table class="table mt-3">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
    <tr>
      <td><%= image_tag member.get_profile_image, size: '50x50' %></td>
      <td><%= link_to member.nick_name ,member_path(member.id) %></td>
      <td id= "follow_count_<%= member.id %>">
        <%= render "public/relationships/counter", member: member %>
      </td>
      <td id= "follow_btn_<%= member.id %>">
        <%= render "public/relationships/btn", member: member, options: { class: "follow-link" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>