<div class= "container">
  <div class= "row">
    <div class= "col-md-12">
      <div class= "row mt-3">
        <h2>会員情報<i class="fa-solid fa-address-book ml-2"></i></h2>
      </div>
      <div class= "row">
        <div class= "d-flex align-items-start">
          <span class= "border"><%= image_tag @member.get_profile_image %></span>
          <div class= "d-flex align-items-start flex-column">
            <% unless @member.guest_member? %>
              <% if current_member.id == @member.id %>
                <div class= "mb-auto p-2">
                  <%= link_to  edit_member_path(@member.id), class: 'btn btn-outline-secondary btn-block' do%>
                    <i class="fa-solid fa-user-cog"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class= "mt-3 ml-3">
              居住地: <%= @member.residence %>
            </div>
          </div>
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-12 px-0">
          <span class= "border px-5"><%= @member.nick_name %></span>
          <span class= "border px-4">投稿数: <%= @member.posts.count %></span>
          <span class= "border px-5" id= "follow_count_<%= @member.id %>"><%= render "public/relationships/counter", member: @member %></span>
        </div>
      </div>
      <div class= "row">
        <div class= "col-md-12 border px-0 text-break" style= "height: 200px;">
          <%= @member.introduction %>
        </div>
      </div>
      <div class= "row border">
        <div class= "col-md-1 my-3 py-2">
          <% if current_member == @member %>
            <%= link_to new_post_path(@member.id) do %>
              <i class="fa-solid fa-circle-plus fa-2xl" style="color: #2460c2;"></i>
            <% end %>
          <% end %>
        </div>
        <div class= "align-self-center col-md-3">
          <i class="fa-regular fa-star"></i><%=link_to"お気に入りの投稿",favorites_member_path(@member) %>
        </div>
        <div class= "col-md-3 mt-1" id= "follow_btn_<%= @member.id %>">
          <%= render "public/relationships/btn", member: @member %>
        </div>
        <div class= "col-md-3 mt-1" id= "chat_btn_<%= @member.id %>">
          <%= render "public/chats/start" , member: @member %>
        </div>
      </div>
    </div>
  </div>
  <div class= "row mt-3">
    <div class= "col-md-12">
    <% if current_member.id == @member.id %>
      <%= render "public/members/flag_index",  public_posts: @public_posts , draft_posts: @draft_posts, private_posts: @private_posts %>
    <% else %>
      <table class= "table table-hover mt-3">
        <thead>
          <tr>
            <th>タイトル</th>
            <th></th>
            <th>ユーザー名</th>
            <th>作成日</th>
            <th>対象言語</th>
            <th></th>
            <th></th>
            <th>タグ名</th>
          </tr>
        </thead>
        <tbody>
          <% @public_posts.each  do |post| %>
            <% unless post.member.is_deleted == true %>
              <tr data-href= "<%= post_path(post.id) %>">
                <td><%= post.title %></td>
              <% if post.post_images.attached? %>
                <td><%= image_tag post.post_images[0].variant(resize: '50x50') %></td>
              <% else %>
                <td><%= image_tag post.get_post_images ,size: "50x50" %></td>
              <% end %>
                <td><%= post.member.nick_name %></td>
                <td><%= post.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
                <td><%= post.language %></td>
                <td id= "favorite_btn_<%= post.id %>">
                  <%= render "public/favorites/favorite", post: post %>
                </td>
                <td><%= render "public/comments/counter", post: post %></td>
                <td>
                  <% post.tag_list.first(2).each do |tag| %>
                    <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
  $('tr[data-href]').on('dblclick', function(){
    location.href = $(this).data('href');
    });
  });
</script>