<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @tagged_posts.present? %>
        <h4 class="headline mt-5 ml-5">Tag: <%= @tag.name %>の一覧（<%= @total_posts_count %>件）</h4>
        <div class="row mt-3">
          <% @tagged_posts = @tagged_posts.order(created_at: :desc) %>
          <table class= "table table-hover mt-3">
            <thead>
              <tr>
                <th>タイトル</th>
                <th></th>
                <th>ユーザー名</th>
                <th>作成日</th>
                <th>対象言語</th>
                <th></th>
                <th></th>
                <th>タグ名</th>
              </tr>
            </thead>
            <tbody>
              <% @tagged_posts.each  do |post| %>
                <% if post.public_flag == "public" %>
                  <tr data-href= "<%= post_path(post.id) %>">
                    <td><%= post.title %></td>
                  <% if post.post_images.attached? %>
                    <td><%= image_tag post.post_images[0].variant(resize: '50x50') %></td>
                  <% else %>
                    <td><%= image_tag post.get_post_images ,size: "50x50" %></td>
                  <% end %>
                    <td><%= post.member.nick_name %></td>
                    <td><%= post.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
                    <td><%= post.language %></td>
                    <td id= "favorite_btn_<%= post.id %>">
                      <%= render "public/favorites/favorite", post: post %>
                    </td>
                    <td>コメント数:<%= post.comments.count %></td>
                    <td>
                      <% post.tag_list.first(2).each do |tag| %>
                        <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
  　　  <% else %>
        <h1 class="tags-title">Tag not found</h1>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
  $('tr[data-href]').on('dblclick', function(){
    location.href = $(this).data('href');
    });
  });
</script>