<div class= "container">
  <div class= "row">
    <div class= "col-md-8 offset-2 mt-3">
      <h2>新規登録画面</h2>
      <%= form_with model: @member, url: member_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      <div class= "row row-justify-contnt-center">
        <div class="col-md-4 my-3 field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, placeholder:"海外",autofocus: true, autocomplete: "last_name" %>
        </div>
      
        <div class="col-md-4 my-3 field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, placeholder:"流浪人",autofocus: true, autocomplete: "first_name" %>
        </div>
      
        <div class="col-md-4 my-3 field">
          <%= f.label :nick_name %><br />
          <%= f.text_field :nick_name, placeholder:"冒険者",autofocus: true, autocomplete: "nick_name" %>
        </div>
      
        <div class="col-md-4 mb-3 field">
          <%= f.label :residence %><br />
          <%= f.text_field :residence, placeholder:"日本",autofocus: true, autocomplete: "residence" %>
        </div>
      
        <div class="col-md-8 mb-3 field">
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder:"example@example.com",autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="col-md-12 mb-3 field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="col-md-12 mb-3 field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      
        <div class="col-md-12 actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!--%= render "public/shared/links" %>-->
